;values for PLATFORM is WIN , TERMUX

[EMAIL]
POP_SERVER = mail.server.com
POP_PORT = 995
EMAIL_ACCOUNT = your_username
EMAIL_PASSWORD = your_password
CHECK_INTERVAL = 300

[NOTIFY]
PLATFORM = WIN
WIN_NOTIFICATIONS = 1
DIALOGBOX_NOTIFICATION = 1
TERMUX_NOTIFICATION = 0
TERMUX_NOTIFICATION_TONE = 0
TERMUX_VIBRATION = 0

[SCHEDULES]
; Format: minute hour day month weekday action functionName
; Examples:
; 20 9 * * * scheduledTask1    - Run at 9:20 AM daily
; 5 23 * * * scheduledTask2    - Run at 11:05 PM daily
; 0 12 * * 1-5 dailyEmailCheck - Run at noon on weekdays only
; */15 * * * * quickCheck      - Run every 15 minutes
; */5 8-17 * * * emailCheck    - Run every 5 minutes from 8 AM to 5 PM
TASKS = 30 8 * * * notifyStatus, */1 * * * * testNotify, */5 8-17 * * * dailyEmailCheck
ENABLED = 1