;values for PLATFORM is WIN , TERMUX

[EMAIL]
POP_SERVER = mail.server.com
POP_PORT = 995
EMAIL_ACCOUNT = your_username
EMAIL_PASSWORD = your_password
CHECK_INTERVAL = 300

[NOTIFY]
PLATFORM = WIN
WIN_NOTIFICATIONS = 1
DIALOGBOX_NOTIFICATION = 1
TERMUX_NOTIFICATION = 0
TERMUX_NOTIFICATION_TONE = 0
TERMUX_VIBRATION = 0